<br>

<div class="contaier">
    <div class="card">
        <div class="card-content">
            <p class="title">
                "Angular es un Framework  para construccion de sitios SPA ceado por Google"
            </p>
            <p class="subtitle">
                Gerardo C.
            </p>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                </span>
            </p>
            <p class="card-footer-item">
                <span>
                    Share on <a href="#">Facebook</a>
                </span>
            </p>
        </footer>
    </div>
</div>
